.root{
	-fx-background-color: aliceblue;
	-fx-font-size: 16pt;
}

.title{
	-fx-font-size: 18pt;
	-fx-font-weight: bold;
}

.button, .combo-box, .combo-box .list-cell{
	-fx-background-color: cornflowerblue;
	-fx-text-fill: white;
}

.button, .combo-box, .text-field{
	-fx-border-radius: 5;
	-fx-background-radius: 5;
}